#coverContainer{
    height: 400px;
    background-size: cover;
    background-position: center;
}
#mainMatCard{
    margin-top: 200px;
}
#logoContainer{
    position: relative;
    border-radius: 50%;
    width: 100%;
    background-position: center;
    background-size: contain;
    margin-top: -40%;
}
#logoContainer::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

@media (min-width: 576px) {
    #logoContainer{
        margin-top: -159px;
    }
}

@media (min-width: 768px) {
    #logoContainer{
        margin-top: -159px;
    }
}

@media (min-width: 992px) {
    #logoContainer{
        margin-top: -170.5px;
    }
}

@media (min-width: 1200px) {
    #logoContainer{
        margin-top: -154.5px;
    }
}


/*
    Dialog
*/
