<mat-dialog-content>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 position-sticky">
      <p class="mat-display-1 text-center mb-3">{{data.product.name}}</p>
      <mat-divider></mat-divider>
      <br>
      <h3 class="mat-h3 mat-subheading-2">
        Descripción: {{data.product.description}}
        <br>
        <ng-template [ngIf]="data.product.productionTime > 0">
          Tiempo de preparación: <b>{{data.product.productionTime}} minutos</b>
        </ng-template>
      </h3>
      <img class="img-fluid mb-3" src="../../../assets/product/{{data.product.picture}}">
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
      <form>
        <mat-form-field class="my-3" appearance="outline">
          <mat-label>Cantidad</mat-label>
          <input name="qty" [(ngModel)]="data.quantity" type="number" min="1" step="1" matInput (change)="controlChange()">
        </mat-form-field>
        <ng-template ngFor let-item [ngForOf]="data.extra" let-i="index">
          <br>
          <h2 class="mr-3 mat-h2 mat-title">{{item.name}}</h2>
          <ng-template [ngIf]="item.multiple">
            <ng-template ngFor let-op [ngForOf]="item.option" let-j="index">
              <mat-checkbox (change)="controlChange()" name="check-{{op.name}}" [(ngModel)]="op.selected" 
                class="mat-h3 mat-subheading-2">{{op.name}} <b *ngIf="op.price > 0">+ ${{op.price.toFixed(2)}}</b></mat-checkbox>
              <br>
            </ng-template>
          </ng-template>
          <mat-radio-group name="radio-{{item.name}}" [(ngModel)]="optionValues[i].name" (change)="controlChange()" *ngIf="!item.multiple">
            <ng-template ngFor let-op [ngForOf]="item.option">
              <mat-radio-button class="mat-h3 mat-subheading-2" [value]="op.name">
                {{op.name}} <b *ngIf="op.price > 0">+ ${{op.price.toFixed(2)}}</b>
              </mat-radio-button>
              <br>  
            </ng-template>
          </mat-radio-group>
        </ng-template>
      </form>
      <mat-divider></mat-divider>
      <br>
      <h2 class="text-center mat-h2 mat-title">
        Total: <b>${{data.totalAmount.toFixed(2)}}</b>
      </h2>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" class="py-2 px-3" mat-button mat-dialog-close>Cancelar</button>
  <button color="primary" class="py-2 px-3" mat-button [mat-dialog-close]="data">Agregar a orden</button>
</mat-dialog-actions>