<mat-dialog-content>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6">
      <img class="img-fluid mb-3" src="../../../assets/product/{{data.product.picture}}">
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
      <h1 class="text-center mb-0 mat-display-3">{{data.product.name}}</h1>
      <mat-divider></mat-divider>
      <br>
      <h3 class="mat-h3 mat-subheading-2">{{data.product.description}}</h3>
      <h2 class="mat-h2 mat-title">
        Tiempo de preparación: <b>{{data.product.productionTime}} minutos</b>
      </h2>
      <mat-divider></mat-divider>
      <form>
        <mat-form-field class="my-3" appearance="outline">
          <mat-label>Cantidad</mat-label>
          <input name="qty" [(ngModel)]="data.quantity" type="number" min="1" step="1" matInput (change)="controlChange()">
        </mat-form-field>
        <ng-template ngFor let-item [ngForOf]="data.extra" let-i="index">
          <br>
          <h1 class="mr-3 mat-h1 mat-headline">{{item.extraName}}</h1>
          <mat-radio-group name="radio-{{item.extraName}}" [(ngModel)]="item.radioValue" (change)="controlChange()" *ngIf="!item.multiple">
            <ng-template ngFor let-op [ngForOf]="item.option" let-j="index">
              <mat-radio-button *ngIf="op.status == 'Disponible'" class="mat-h2 mat-title" value="{{op.name}}">{{op.name}} <b *ngIf="op.price > 0">+ ${{op.price.toFixed(2)}}</b></mat-radio-button>
              <br>  
            </ng-template>
          </mat-radio-group>
          <ng-template [ngIf]="item.multiple">
            <ng-template ngFor let-op [ngForOf]="item.option" let-j="index">
              <mat-checkbox *ngIf="op.status == 'Disponible'" (change)="controlChange()" name="check-{{op.name}}" [(ngModel)]="op.selected" class="mat-h2 mat-title">{{op.name}} <b *ngIf="op.price > 0">+ ${{op.price.toFixed(2)}}</b></mat-checkbox>
              <br>
            </ng-template>
          </ng-template>
          <ng-template #elseBlock>
            
          </ng-template>
        </ng-template>
      </form>
      <mat-divider></mat-divider>
      <br>
      <h1 class="text-center mat-h1 mat-headline">Total: <b>${{data.totalAmount.toFixed(2)}}</b></h1>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" class="py-2 px-3" mat-button mat-dialog-close>Cancelar</button>
  <button color="primary" class="py-2 px-3" mat-button [mat-dialog-close]="data">Agregar a orden</button>
</mat-dialog-actions>