<div class="container">
    <div class="row">
        <form class="col-md-9 col-lg-7 col-xl-6 mx-auto" [formGroup]="extras">
            <mat-card class="my-4">
                <div class="row">
                    <div class="col-8 col-sm-9">
                        <p class="mat-display-1 mt-4 mb-0 text-white">
                            Extras para {{productName}}
                        </p>
                    </div>
                    <div class="col-4 col-sm-3">
                        <button type="button" class="mt-4 mx-auto" mat-fab 
                            (click)="addExtra()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-accordion>
                    <ng-container formArrayName="extraList">
                        <mat-expansion-panel class="mt-4 border border-secondary" 
                            *ngFor="let extra of getControlsFromArray(extras, 'extraList'); index as i" 
                            [formGroupName]="i" 
                            [expanded] = "isLastElement(i, extras, 'extraList')">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{extra.get('name').value}}
                                </mat-panel-title>
                                <ng-template [ngIf]="getElements(extras, 'extraList') > 1">
                                    <mat-icon (click)="deleteExtra(i)" class="mr-3">
                                        delete
                                    </mat-icon>
                                </ng-template>
                            </mat-expansion-panel-header>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Nombre del complemento</mat-label>
                                <input formControlName="name" matInput type="text" 
                                    placeholder="Ej: Tamaño, sabor de bebida, complementos...">
                                <mat-error *ngIf="extra.get('name').invalid">
                                    {{formValidators.getErrorMessage(extra.get('name'))}}
                                </mat-error>
                            </mat-form-field>
                            <mat-slide-toggle (change)="toFalse(extra)" formControlName="multiple">
                                Selección multiple
                            </mat-slide-toggle>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-8 col-sm-4">
                                    <p class="mat-h1 mt-3">
                                        Opciones
                                    </p>
                                </div>
                                <div class="col-4 col-sm-8">
                                    <button type="button" class="mx-auto" mat-fab 
                                        (click)="addOption(extra)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <mat-accordion>
                                <ng-container formArrayName="options">
                                    <mat-expansion-panel class="mt-4"
                                        *ngFor="let op of getControlsFromArray(extra, 'options'); index as j"
                                        [formGroupName]="j"
                                        [expanded] = "isLastElement(j, extra, 'options')">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{op.get('name').value}}
                                            </mat-panel-title>
                                            <ng-template [ngIf]="getElements(extra, 'options') > 1">
                                                <mat-icon (click)="deleteOption(j, extra)" class="mr-3">
                                                    delete
                                                </mat-icon>
                                            </ng-template>
                                        </mat-expansion-panel-header>
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Nombre de la opción</mat-label>
                                            <input formControlName="name" matInput type="text">
                                            <mat-error *ngIf="op.get('name').invalid">
                                                {{formValidators.getErrorMessage(op.get('name'))}}
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="w-50 mr-5" appearance="outline">
                                            <mat-label>Precio</mat-label>
                                            <input formControlName="price" matInput 
                                                class="text-right" type="number" value="0.00" min="0.00" step="0.01">
                                            <span matPrefix>$</span>
                                        </mat-form-field>
                                        <mat-slide-toggle (change)="defaultOption(j, extra)" formControlName="selected"
                                            *ngIf="!extra.get('multiple').value">
                                            Por defecto
                                        </mat-slide-toggle>
                                    </mat-expansion-panel>
                                </ng-container>
                            </mat-accordion>
                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
                <button type="button" mat-stroked-button class="py-4 w-100" id="send" color="primary"
                    (click)="createExtras()">
                    Registrar extra(s)
                </button>
            </mat-card>
        </form>
    </div>
</div>