agm-map {
    height: 300px;
}
textarea {
    height: 100px;
}
#send{
    font-size: 30px;
    margin-top: 40px;
}

@media (min-width: 992px) {
    agm-map{
        height: 450px;
    }
}

.time-form-field{
    width: 95%;
}