<div class="container">
    <mat-card>

        <h1 class="mat-display-3 my-3 text-center">
            Registro de negocios
        </h1>

        <form [formGroup]="bsnsForm">

            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12">
                    
                    <mat-form-field appearance="outline" class="w-100 my-2">
    
                        <mat-label>
                            Nombre del negocio
                        </mat-label>
                        <input type="text" matInput formControlName="name">
                        <mat-error *ngIf="bsnsForm.get('name').invalid">
                            {{
                                validator.getErrorMessage(bsnsForm.get('name'))
                            }}
                        </mat-error>
    
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="w-100 my-2">
                    
                        <mat-label>
                            Teléfono
                        </mat-label>
                        <input formControlName="phone" 
                            (keyup)="validator.checkFormatPhone(bsnsForm.get('phone'))" 
                            maxlength="9" placeholder="Ej: 0000-0000" matInput>
                        <mat-error *ngIf="bsnsForm.get('phone').invalid">
                            {{
                                validator.getErrorMessage(bsnsForm.get('phone'))
                            }}
                        </mat-error>
                        <mat-hint>Formáto valido: 1234-1234</mat-hint>
                    
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="w-100 my-2">
                    
                        <mat-label>
                            Tipo de negocio
                        </mat-label>
                        <mat-select formControlName="type">
                            <mat-option *ngFor="let item of businessTypes" 
                                [value]="item">
                                {{
                                    item
                                }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="bsnsForm.get('type').invalid">
                            {{
                                validator.getErrorMessage(bsnsForm.get('type'))
                            }}
                        </mat-error>
                    
                    </mat-form-field>

                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">

                    <p class="mat-h3 mat-subheading-2 my-2">
                        Logo
                    </p>
                    <input name="logo" type="file" formControlName="logo"
                        (change)="checkImage($event)">
                    <mat-error *ngIf="bsnsForm.get('logo').invalid">
                        {{
                            validator.getErrorMessage(bsnsForm.get('logo'))
                        }}
                    </mat-error>
                    
                    <p class="mat-h3 mat-subheading-2 my-2">
                        Imagen de portada
                    </p>
                    <input name="cover" type="file" formControlName="cover"
                        (change)="checkImage($event)">
                    <mat-error *ngIf="bsnsForm.get('cover').invalid">
                        {{
                            validator.getErrorMessage(bsnsForm.get('cover'))
                        }}
                    </mat-error>

                    <mat-form-field class="w-100 my-2" appearance="outline">
                        <mat-label>
                            Descripción
                        </mat-label>
                        <textarea formControlName="description" matInput>
                        </textarea>
                    </mat-form-field>

                </div>

            </div>

            <div class="row">

                <div class="col-xl-12 my-4">

                    <p class="mat-h2 text-center">
                        Horarios de atención
                    </p>
                    <mat-slide-toggle (change)="changeScheduleType()" 
                        formControlName="isDetailed">
                        Horario detallado
                    </mat-slide-toggle>

                </div>

                <div *ngIf="!bsnsForm.get('isDetailed').value" 
                    class="col-xl-6 col-lg-6 col-md-12">

                    <div class="row">

                        <div class="col-sm-6 col-12">

                            <mat-form-field appearance="outline"
                                class="time-form-field">
                                <mat-label>Desde</mat-label>
                                <input formControlName="generalStart" 
                                    matInput type="time">
                                <mat-error 
                                    *ngIf="bsnsForm.get('generalStart').invalid">
                                    {{
                                        validator.getErrorMessage(bsnsForm.get('generalStart'))
                                    }}
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="col-sm-6 col-12">

                            <mat-form-field appearance="outline"
                                class="time-form-field">
                                <mat-label>Hasta</mat-label>
                                <input formControlName="generalEnd" 
                                    matInput type="time">
                                <mat-error *ngIf="bsnsForm.get('generalEnd').invalid">
                                    {{
                                        validator.getErrorMessage(bsnsForm.get('generalEnd'))
                                    }}
                                </mat-error>
                            </mat-form-field>

                        </div>

                    </div>

                </div>
                
            </div>

            <ng-template [ngIf]="bsnsForm.get('isDetailed').value">

                <div *ngFor="let item of dayName; index as i" class="row">

                    <ng-template [ngIf]="(i % 2) == 0">

                        <div class="col-xl-6 col-lg-6 col-md-12">

                            <p class="mat-body mat-body-1 mt-2">
                                {{
                                    item
                                }}
                            </p>
                            <div class="row">

                                <div class="col-xl-12">
                                    <mat-slide-toggle 
                                        formControlName="isOpen{{i}}"
                                        (change)="restartTimeControl(i)">
                                        Abierto
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <mat-form-field appearance="outline" 
                                        class="time-form-field">
                                        <mat-label>
                                            Desde
                                        </mat-label>
                                        <input formControlName="start{{i}}" 
                                            matInput type="time">
                                        <mat-error 
                                            *ngIf="bsnsForm.get('start' + i).invalid">
                                            {{
                                                validator.getErrorMessage(bsnsForm.get('start' + i))
                                            }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <mat-form-field appearance="outline"
                                        class="time-form-field">
                                        <mat-label>
                                            Hasta
                                        </mat-label>
                                        <input formControlName="end{{i}}" 
                                            matInput type="time">
                                        <mat-error 
                                            *ngIf="bsnsForm.get('end' + i).invalid">
                                            {{
                                                validator.getErrorMessage(bsnsForm.get('end' + i))
                                            }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>

                        </div>
                        
                        <div *ngIf="6 > i"
                            class="col-xl-6 col-lg-6 col-md-12">

                            <p class="mat-body mat-body-1 mt-2">
                                {{
                                    dayName[i + 1]
                                }}
                            </p>
                            <div class="row">

                                <div class="col-xl-12">
                                    <mat-slide-toggle 
                                        formControlName="isOpen{{i + 1}}"
                                        (change)="restartTimeControl(i + 1)">
                                        Abierto
                                    </mat-slide-toggle>
                                </div>  
                                <div class="col-sm-6 col-12">
                                    <mat-form-field appearance="outline"
                                        class="time-form-field">
                                        <mat-label>
                                            Desde
                                        </mat-label>
                                        <input formControlName="start{{i + 1}}" 
                                            matInput type="time">
                                        <mat-error 
                                            *ngIf="bsnsForm.get('start' + (i + 1)).invalid">
                                            {{
                                                validator.getErrorMessage(bsnsForm.get('start' + (i + 1)))
                                            }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <mat-form-field appearance="outline"
                                        class="time-form-field">
                                        <mat-label>
                                            Hasta
                                        </mat-label>
                                        <input formControlName="end{{i + 1}}" 
                                            matInput type="time">
                                        <mat-error 
                                            *ngIf="bsnsForm.get('end' + (i + 1)).invalid">
                                            {{
                                                validator.getErrorMessage(bsnsForm.get('end' + (i + 1)))
                                            }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>

                        </div>

                    </ng-template>

                </div>

            </ng-template>


            <div class="row">

                <button mat-raised-button color="primary" 
                    class="col-11 py-2 mx-auto mt-1"
                    type="button"
                    (click)="addBusiness()"
                    [disabled]="bsnsForm.invalid || buttonMessage == 'Enviando...'">
                    {{buttonMessage}}
                </button>

            </div>

        </form>

    </mat-card>
</div>