/* You can add global styles to this file, and also import other style files */
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
 
 .main-color{
    background-color: #4457C2;
}

/*SnackBar Styles*/
.success{
    background-color: #3f51b5;
}

.failed{
    background-color: #f44336;
}

.snackbar {
    color: white;
}
.snackbar span{
    color: white;
    font-weight: bold;
}